@model IEnumerable<Game_items_selling_web.Models.Предметы_из_игр>

@{
    ViewBag.Title = "Index";
}

<h2>Игровые предметы</h2>

<p>
    @if (ViewBag.role != "trader") { @Html.ActionLink("Create New", "Create", new { id = ViewBag.id, role = ViewBag.role }, null) }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Игровой_предмет)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Цена)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Редкость)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Количество)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Валюты.Валюта)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Игры.Игра)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Игровой_предмет)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Цена)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Редкость)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Количество)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Валюты.Валюта)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Игры.Игра)
            </td>
            <td>
                @if (ViewBag.role != "trader") { @Html.ActionLink("Edit", "Edit", new { id = item.Код_предмета, _id = ViewBag.id, _role = ViewBag.role }, null); }
                @Html.ActionLink("Details", "Details", new { id = item.Код_предмета })
                @if (ViewBag.role != "trader") { @Html.ActionLink("Delete", "Delete", new { id = item.Код_предмета, _id = ViewBag.id, _role = ViewBag.role }, null); }
                @if (ViewBag.role == "trader")
                {
                    using (Html.BeginForm("Order", "Предметы_из_игр", new { _id = ViewBag.id, _role = ViewBag.role }))
                    {
                        <p>Введите количество игр: </p>
                        <input type="number" min="0" name="number" , value="0" />
                        <input type="hidden" name="game_id" value="@item.Код_предмета" />
                        <p><input type="submit" value="Заказать игру" /></p>
                    }
                }
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Import to Excel", "Excel", new { _id = ViewBag.id, _role = ViewBag.role }, null)