
@{
    ViewBag.Title = "Administrator";
    Layout = "~/Views/Shared/Adm_Layout.cshtml";
}


<h2>Administrator</h2>

<div class="row">
    <div class="col-md-4">
        <p>
            Просмотр игр.
        </p>
        <p>@Html.ActionLink("Игры", "Index", "Игры")</p>
    </div>
    <div class="col-md-4">
        <p>
            Просмотр игровых предметов.
        </p>
        <p>@Html.ActionLink("Игровые предметы", "Index", "Предметы_из_игр")</p>
    </div>
    <div class="col-md-4">
        <p>
            Просмотр разработчиков.
        </p>
        <p>@Html.ActionLink("Разработчики", "Index", "Разработчики")</p>
    </div>
    <div class="col-md-4">
        <p>
            Просмотр торговых площадок.
        </p>
        <p>@Html.ActionLink("Торговые площадки", "Index", "Торговые_площадки")</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>
            Просмотр валют.
        </p>
        <p>@Html.ActionLink("Валюты", "Index", "Валюты")</p>
    </div>
    <div class="col-md-4">
        <p>
            Просмотр жанров.
        </p>
        <p>@Html.ActionLink("Жанры", "Index", "Жанры")</p>
    </div>
    <div class="col-md-4">
        <p>
            Просмотр платформ.
        </p>
        <p>@Html.ActionLink("Платформы", "Index", "Платформы")</p>
    </div>
    <div class="col-md-4">
        <p>
            Просмотр стран.
        </p>
        <p>@Html.ActionLink("Страны", "Index", "Страны")</p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p>
            Просмотр возрастных рейтингов.
        </p>
        <p>@Html.ActionLink("Возрастные рейтинги", "Index", "Возрастной_рейтинг")</p>
    </div>
    <div class="col-md-3">
        <p>
            Просмотр издателей.
        </p>
        <p>@Html.ActionLink("Издатели", "Index", "Издатели")</p>
    </div>
    <div class="col-md-3">
        <p>
            Просмотр чеков.
        </p>
        <p>@Html.ActionLink("Чеки", "Index", "Чек")</p>
    </div>
</div>