@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Информационная система торговли предметами в компьютерных играх</h2>
</div>

<!--div class="row">
    <div class="col-md-4">
        <p>
            Log in as Administrator.
        </p>
        <p>@Html.ActionLink("Administrator", "Administrator", "Home")</p>
    </div>
    <div class="col-md-4">
        <p>
            Log in as Developer.
        </p>
        <p>@Html.ActionLink("Developer", "Developer", "Home")</p>
    </div>
    <div class="col-md-4">
        <p>
            Log in as Trader.
        </p>
        <p>@Html.ActionLink("Trader", "Trader", "Home")</p>
    </div>
</div> -->

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{<div class=form-horizontal>
        <p>Введите логин: </p>
        @Html.TextBox("login", "admin")
        <p>Введите пароль:</p>
        @Html.Password("password", "admin")
        <p><input type="submit" value="Log in" /></p>
    </div>
}
<p>@Html.ActionLink("Зарегистрировать разработчика", "Create", "Разработчики", new { _role = "register" }, null)</p>
<p>@Html.ActionLink("Зарегистрировать торговую площадку", "Create", "Торговые_площадки", new { _role = "register" }, null)</p>
