@model Game_items_selling_web.Models.Игры

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Игры</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Игра)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Игра)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Движок)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Движок)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Дата_создания)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Дата_создания)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Жанры.Жанр)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Жанры.Жанр)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Платформы.Платформа)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Платформы.Платформа)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Разработчики.Разработчик)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Разработчики.Разработчик)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <input type="hidden" value="@ViewBag.id" , name="_id" />
        <input type="hidden" value="@ViewBag.role" , name="_role" />
        <input type="submit" value="Delete" class="btn btn-default" />
    </div>
    }
</div>
