@model IEnumerable<Game_items_selling_web.Models.Торговые_площадки>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Торговая_площадка)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Дата_создания)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Страны.Страна)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Торговая_площадка)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Дата_создания)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Страны.Страна)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Код_торговой_площадки }) |
                @Html.ActionLink("Details", "Details", new { id = item.Код_торговой_площадки }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Код_торговой_площадки })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Import to Excel", "Excel")